.claude
skills-lock.json
environment.ts
.agents
.env
backend/src/ZealEducation.API/appsettings.development.json
backend/src/ZealEducation.API/ZealEducation.API.csproj.lscache
backend/src/ZealEducation.Application/ZealEducation.Application.csproj.lscache
backend/src/ZealEducation.Domain/ZealEducation.Domain.csproj.lscache
backend/src/ZealEducation.Infrastructure/ZealEducation.Infrastructure.csproj.lscache
backend/tests/ZealEducation.API.FunctionalTests/ZealEducation.API.FunctionalTests.csproj.lscache
backend/tests/ZealEducation.Application.UnitTests/ZealEducation.Application.UnitTests.csproj.lscache
backend/tests/ZealEducation.Infrastructure.IntegrationTests/ZealEducation.Infrastructure.IntegrationTests.csproj.lscache
